<!DOCTYPE html>
<html lang="en">
    {% load static %}
    {% include "commonCSS.html" %}
    <body>
        <div class="d-flex" id="wrapper">
            {% include "sidebar.html" %}
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                {% include "header.html" %}
                <!-- Page content-->
                <div class="container-fluid">
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <div class="card text-white bg-primary">
                                <div class="card-header">TL Meetings</div>
                                <div class="card-body d-flex justify-content-center">
                                    <a href="{% url 'adhikari_list' 'TL' %}" class="btn btn-light">Open</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-white bg-success">
                                <div class="card-header">RO Meetings</div>
                                <div class="card-body d-flex justify-content-center">
                                    <a href="{% url 'adhikari_list' 'RO' %}" class="btn btn-light">Open</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-white bg-danger">
                                <div class="card-header">Other Meetings</div>
                                <div class="card-body d-flex justify-content-center">
                                    <a href="{% url 'adhikari_list' 'Other' %}" class="btn btn-light">Open</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "commonJS.html" %}
    </body>
</html>